body (
  background-color: #222;
  color: #59aa3a;
  font-family: calibri, Verdana, sans-serif;
  font-size: 16px;
)

#wrapper (
  width: 960px;
  margin: 0 auto;
)

#wrapper h2(
  text-align: center;
)

a (
  color: 80aa69;
)

a:hover (
  color: #59aa3a;
  text-decoration: none;
)