body {
	margin: 0 auto;
	text-align: center;
	background-color: #000000; 
}

#thumbnails {
	padding-top: 20px;
	padding-bottom: 30px;
}

#thumbnails img {
	background: #fff;
	padding: 4px 4px 18px 4px;
	margin: 0 5px;
}

#bigPic {
	background: #fff;
	padding: 7px 7px 34px 7px;
}