header, main, nav, footer, figure, figcaption, aside, section, article {
  display: block;
}

body {
  background-color: #F5F5DC;
  color: #2E0000;
  font-family: Verdana, Arial, Sans-serif;
  background-image: url(../images/javabackground.gif);
}

h1 {
  background-color: #D2B48C;
  font-family: "sans-serif";
  height: 100px;
  margin: 0;
  background-image: url(../images/javalogo.gif);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

h2 {
  font-family: "sans-serif";
}

h3 {
  background-color: #E6D6A9;
  text-transform: uppercase;
}

footer {
  background-color: #D2B48C;
  color: #000000;
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding: 10px;
}

footer>a {
  color: #2E0000;
}

footer>a:visited {
  color: #000000;
}

footer>a:hover,
footer>a:focus {
  color: #F5F5DC;
}

nav {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  float: left;
  width: 160px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #795240;
}

nav a:visited {
  color: #A58366;
}

nav a:hover,
nav a:focus {
  color: #F5F5DC;
}

dt {
  font-weight: bold;
}

main ul {
  list-style-image: url(../images/marker.gif);
  list-style-position: inside;
}

main {
  padding: 20px;
  display: block;
  background-color: #F5F5DC;
  margin-left: 175px;
}

main img {
  float: left;
  padding: 2em;
}

main article>p {
  margin-bottom: 0;
}

main article {
  margin-left: 20%;
  margin-right: 20%;
  overflow: auto;
  font-size: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

#wrapper {
  margin: 0 auto;
  min-width: 960px;
  max-width: 2048px;
  background-color: #E2D2B0;
  width: 80%;
  box-shadow: 3px 3px #2E0000;
}

#hero {
  height: 300px;
  color: #F5F5DC;
  background-image: url(../images/heroroad.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mobile {
  display: none;
}

.desktop {
  display: inline;
}

table {
  margin: auto;
  width: 80%;
}

th, td {
  padding: 10px;
}

tr:nth-of-type(odd) {
  background-color: #D2B48C;
  font-weight: normal;
}

th:nth-of-type(even) {
  font-weight: normal;
  text-align: left;
}

label {
  display: block;
  float: left;
  text-align: left;
  width: 120px;
  padding-right: 10px;
}

input, textarea {
  display: block;
  margin-bottom: 20px;
}

label, input[type=submit] {
  margin-left: 130px;
}

@media only screen and (max-width: 64em) {
  body {
    margin: 0;
    background-color: #D2B48C;
    background-image: none;
  }

  #wrapper {
    min-width: 0;
    width: auto;
    box-shadow: none;
  }

  h1 {
    margin: 0;
    background-image: url(../images/javalogomobile.gif);
  }

  main {
    margin-left: 0;
  }

  nav {
    float: none;
    width: auto;
    padding: 0;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: inline;
    padding: 0 .75em;
  }
}

@media only screen and (max-width: 37.5em) {
  nav li {
    display: inline-block;
    width: 5em;
    font-size: 120%;
    text-align: center;
    box-shadow: 2px 2px #330000;
    background-color: #F5F5DC;
    margin: 1%;
    padding: 2.5%;
  }

  nav a {
    display: block;
  }

  nav a:hover {
    color: #333300;
  }

  main a:link {
    color: #FFFFFF;
  }

  main a:visited {
    color: #EAEAEA;
  }

  main a:hover {
    color: #FFD700;
  }

  main article {
    margin: 0;
  }

  article img {
    display: none;
  }

  #hero {
    height: auto;
  }

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  label {
    float: none;
    text-align: left;
  }

  input [type="submit"] {
    margin-left: 0;
  }
}
}
