body {
  background-color: #ffffff ; /*dark mode*/
  color: white;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}


h1 {
  background-color: #ffffff ; /*dark  mode */
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  height: 100px;
  margin: 0;
  text-indent: 0px;
}

p a {
height: 1px;
overflow:hidden;
color: #ffffff;
}


nav {
  font-weight: bold;
  text-align: center;
  width: auto;
  height: 1em;
  padding-top: 0px;
  padding-bottom: 20px;
  border-top-style: groove;
  border-top-width: medium;
  border-top-color: #AA9738; /*gold color*/
  border-bottom-style: groove;
  border-bottom-width: medium;
  border-bottom-color: #AA9738; /*gold color*/
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #AA9738; /*gold color*/
}

nav a:visited {
  color: #D4C26A; /*gold color*/
}

nav a:hover,
nav a:focus {
  color: #FFF1AA;/*gold color hover*/
}

form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2E4272; /*blue color*/
}
