Header, main, nav, footer, figure, figcaption, aside, section, article {
  display: block;
}

body {
  background-color: #38444C; /*dark mode*/
  color: white;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}


h1 {
  background-color: #38444C; /*dark  mode */
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  background-position: center;
  background-image: url(../images/gsLogo.png);
  background-repeat: no-repeat;
  height: 100px;
  margin: 0;
  text-indent: -9999px;
}

header a {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow:hidden;
}

footer {
  background-color: #38444C; /*dark mode*/
  color: #FFF; /*white color*/
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding: 10px;
  border-top-style: groove;
  border-top-width: medium;
  border-top-color: #AA9738; /*gold color*/
}

footer > a {
  color: #AA9738; /*gold color*/
}

nav {
  font-weight: bold;
  text-align: center;
  width: auto;
  height: 1em;
  padding-top: 0px;
  padding-bottom: 20px;
  border-top-style: groove;
  border-top-width: medium;
  border-top-color: #AA9738; /*gold color*/
  border-bottom-style: groove;
  border-bottom-width: medium;
  border-bottom-color: #AA9738; /*gold color*/
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0px;
}

nav li {
  display: inline;
  float: left;
  width: 15%;
}

nav a {
  text-decoration: none;
}

nav img {
  display: inline;
  max-width: 100%;
  height: 2em;
  width: auto;
  position: relative;
  top: -0.5em;
}

nav a:link {
  color: #AA9738; /*gold color*/
}

nav a:visited {
  color: #D4C26A; /*gold color*/
}

nav a:hover,
nav a:focus {
  color: #FFF1AA;/*gold color hover*/
}

main article {
  overflow: auto;
  padding: 10px 5%;
  border-bottom-style: groove;
  border-bottom-width: thin;
  border-bottom-color: #AA9738; /*gold color*/
}

main a {
  color: #AA6D38; /*rust color*/
}


main article > p {
  margin-bottom: ;
}

main article > img {
  padding-right: 1em;
  float: left;
}

main article > h3 {
  margin: 0px;
}

main article > h5 {
  margin: 0px;
  font-size: 70%;
}

section > h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: auto;
  padding-bottom: 10px;
  border-bottom-style: groove;
  border-bottom-width: medium;
  border-bottom-color: #AA9738; /*gold color*/
}

article ul > li:nth-of-type(even) {
  color: #D4C26A; /*gold color*/
}

label {
  float: left;
  text-align: right;
  width: 120px;
  padding-right: 1em;
}

input, textarea {
  display: block;
  margin-bottom: 20px;
}

input[type=submit] {
 margin: 10px auto;
}

textarea {
  height: 100px;
  width: 80%;
}

form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2E4272; /*blue color*/
}

table {
  margin: auto;
  display: inline;
  font-size: .7em;
  border-collapse: collapse;
}

tr {
  border-right: 3px groove #AA9738; /*gold color*/
  border-left: 3px groove #AA9738; /*gold color*/
}

th, td {
  padding: 5px;
}

th ul > li {
  text-align: center;
  list-style-type: none;
}

th ul > li:nth-of-type(even) {
  color: #D4C26A; /*gold color*/
  padding: 10px;
}

tr:nth-of-type(odd){
  background-color: #4F618E; /*blue color*/
}

figure {
  float: left;
  margin-left: 0px;
  margin-right: 1em;
}

figcaption {
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

#feed {
  padding: 20px;
  display: block;
  background-color: #2E4272; /*blue color*/
  margin-right: 20%;
}

#feed h2 {
  text-align: center;
  font-size: 2em;
  margin: auto;
  border-bottom-style: groove;
  border-bottom-width: medium;
  border-bottom-color: #AA9738; /*gold color*/
}

#content {
  padding: 20px;
  display: block;
  background-color: #2E4272; /*blue color*/
}

#wrapper {
  margin: 0 auto;
  min-width: 960px;
  max-width: 2048px;
  background-color: #2E4272; /*blue color*/
  width: 90%;
}

.twitter-container {
  float: right;
  width: 20%;
  margin-top: .5em;
}

.mobile {
  display: none;
}

.desktop {
  display: inline;
}

.noborder {
  border: none;
}

@media only screen and (max-width: 64em) {
  body {
    margin: 0;
    background-color: #2E4272; /*blue color*/
  }

  #wrapper {
    min-width: 0;
    width: auto;
  }

  #feed {
    margin-right: 0px;
  }

  h1 {
    margin: 0;
    background-image: url(../images/gsLogoMobile.png);
  }

  main {
    margin-right: 0;
  }

  nav {
    float: none;
    width: auto;
    height: auto;
    padding-bottom: 0px;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: inline;
    padding: 0 .25em;
    float: none;
  }

  nav img {
    display: none;
  }

  table {
    margin-left: -20px;
  }
  tr {
    border: none;
  }

  .twitter-container {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  nav li {
    display: inline-block;
    width: 5em;
    font-size: 120%;
    text-align: center;
    box-shadow: 2px 2px #330000; /*rust color*/
    background-color: #2E4272; /*blue color*/
    margin: 1%;
    padding: 2.5%;
  }

  nav a {
    display: block;
  }

  main article {
    margin: 0;
  }

  article img {
    display: none;
  }

  label {
    float: none;
    margin: 0px 20px;
  }

  input, textarea {
    margin: 10px 10px;
    width: 80%;
  }

  input[type=submit] {
    display: block;
  }

  figure, figcaption {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }
}
