body {
	background-color: #F5F5DC;
	color: #2E0000;
}
body > header {
	background-color: #D2B48C;
	font-family: "sans-serif";
}
 nav > a {
	font-weight: bold;
	text-decoration: none;
}

h1, h2 {
	font-family: "sans-serif";
}

h3 {
	background-color: #E6D6A9;
	text-transform: uppercase;
}

dt {
	font-weight: bold;
}

ul {
	list-style-image: url('marker.gif');
}

body > footer {
	background-color: #D2B48C;
	color: #000000;
	font-size: .60em;
	font-style: italic;
	text-align: center;
}